body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-align: center;
}

.wrapper {
  height: fit-content;
  width: fit-content;
  margin: auto;
}


.game_board {
  display: grid;
  grid-template-columns:repeat(3, minmax(150px, 1fr));
  grid-template-rows:repeat(3,minmax(150px, 1fr));
  background-color: white;
  margin: auto;
}

.card {

  border: 5px solid red;
  width: 300px;
  height: 300px;
  grid-gap: 8px 8px;
  cursor: pointer;

}